[submodule "Core"]
	path = Core
	url = https://github.com/NucleusChess/NucleusChess/Core
[submodule "GUI"]
	path = GUI
	url = https://github.com/NucleusChess/NucleusChess/GUI
[submodule "Bot"]
	path = Bot
	url = https://github.com/NucleusChess/NucleusChess/Bot
